.root {
  margin: 6px 6px;
}
* {
  margin: 5px 5px;
}
.App {
  text-align: center;
  display: flex;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  .important{
    font-weight: bold;
    color: yellow;
    font-size: 17px;
  }
.selected{
  width: 45px;
  height: 45px;
  border: solid rgb(240, 111, 25) 3px;
  background-color: rgba(228, 246, 239, 0.954);}
html {
  background-Image: url("./site_images/Bleach6.jpg") ;
  background-color: black;
}


.Bleach0 {
  background-image: url("./site_images/Bleach0.webp");
  background-color: rgb(239, 39, 25);
}
.Bleach1 {
  background-image: url("./site_images/Bleach1.webp");
  background-color: rgb(255, 116, 23);
}
.Bleach2 {
  background-image: url("./site_images/Bleach2.webp");
  background-color: rgb(243, 183, 32);
}
.Bleach3 {
  background-image: url("./site_images/Bleach3.webp");
  background-color: rgb(190, 243, 32);
}
.Bleach4 {
  background-image: url("./site_images/Bleach4.webp");
  background-color: rgb(78, 243, 32);
}
.Bleach5 {
  background-image: url("./site_images/Bleach5.webp");
  background-color: rgb(32, 225, 243);
}
.Bleach6 {
  background-image: url("./site_images/Bleach6.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach7 {
  background-image: url("./site_images/Bleach7.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach8 {
  background-image: url("./site_images/Bleach8.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach9 {
  background-image: url("./site_images/Bleach9.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach10 {
  background-image: url("./site_images/Bleach10.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach11 {
  background-image: url("./site_images/Bleach11.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach12 {
  background-image: url("./site_images/Bleach12.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach13 {
  background-image: url("./site_images/Bleach13.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach14 {
  background-image: url("./site_images/Bleach14.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach15 {
  background-image: url("./site_images/Bleach15.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach16 {
  background-image: url("./site_images/Bleach16.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach17 {
  background-image: url("./site_images/Bleach17.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach18 {
  background-image: url("./site_images/Bleach18.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach19 {
  background-image: url("./site_images/Bleach19.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach20 {
  background-image: url("./site_images/Bleach10.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach21 {
  background-image: url("./site_images/Bleach21.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach22 {
  background-image: url("./site_images/Bleach22.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach23 {
  background-image: url("./site_images/Bleach23.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach24 {
  background-image: url("./site_images/Bleach24.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach25 {
  background-image: url("./site_images/Bleach25.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach26 {
  background-image: url("./site_images/Bleach26.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach27 {
  background-image: url("./site_images/Bleach27.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach28 {
  background-image: url("./site_images/Bleach28.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach29 {
  background-image: url("./site_images/Bleach29.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach30 {
  background-image: url("./site_images/Bleach30.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach31 {
  background-image: url("./site_images/Bleach31.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach32 {
  background-image: url("./site_images/Bleach32.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach33 {
  background-image: url("./site_images/Bleach33.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach34 {
  background-image: url("./site_images/Bleach34.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach35 {
  background-image: url("./site_images/Bleach35.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach36 {
  background-image: url("./site_images/Bleach36.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach37 {
  background-image: url("./site_images/Bleach37.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach38 {
  background-image: url("./site_images/Bleach38.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach39 {
  background-image: url("./site_images/Bleach39.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach40 {
  background-image: url("./site_images/Bleach40.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach41 {
  background-image: url("./site_images/Bleach41.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach42 {
  background-image: url("./site_images/Bleach42.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach43 {
  background-image: url("./site_images/Bleach43.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach44 {
  background-image: url("./site_images/Bleach44.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach45 {
  background-image: url("./site_images/Bleach45.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach46 {
  background-image: url("./site_images/Bleach46.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach47 {
  background-image: url("./site_images/Bleach47.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach48 {
  background-image: url("./site_images/Bleach48.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach49 {
  background-image: url("./site_images/Bleach49.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach50 {
  background-image: url("./site_images/Bleach50.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach51 {
  background-image: url("./site_images/Bleach51.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach52 {
  background-image: url("./site_images/Bleach52.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach53 {
  background-image: url("./site_images/Bleach53.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach54 {
  background-image: url("./site_images/Bleach54.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach55 {
  background-image: url("./site_images/Bleach55.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach56 {
  background-image: url("./site_images/Bleach56.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach57 {
  background-image: url("./site_images/Bleach57.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach58 {
  background-image: url("./site_images/Bleach58.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach59 {
  background-image: url("./site_images/Bleach59.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach60 {
  background-image: url("./site_images/Bleach60.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach61 {
  background-image: url("./site_images/Bleach61.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach62 {
  background-image: url("./site_images/Bleach62.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach63 {
  background-image: url("./site_images/Bleach63.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach65 {
  background-image: url("./site_images/Bleach65.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach66 {
  background-image: url("./site_images/Bleach66.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach67 {
  background-image: url("./site_images/Bleach67.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach68 {
  background-image: url("./site_images/Bleach68.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach69 {
  background-image: url("./site_images/Bleach69.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach70 {
  background-image: url("./site_images/Bleach70.webp");
  background-color: rgb(32, 148, 243);
}
.Bleach71 {
  background-image: url("./site_images/Bleach71.webp");
  background-color: rgb(32, 148, 243);
}

.Bleachbg{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgSample{
    display: inline-block;
    width: 160px;
    height: 60px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    margin: 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgSamplep{
  width: 20%;
  background-color: white;
  margin-left: 16px;
  margin-bottom: -16px;
}
.teamSettings{
  /*border: solid 2px red; */
}
.teamsSettingsHolder{
  width: 65%;
  font-weight: bolder;
  background-color: rgb(12, 98, 190);
  margin: 2px;
  padding: 2px;

}
.teamInfo{
  font-weight: bolder;
  background-color: rgb(0, 0, 0);
  opacity: .7;
  margin: 2px;
  padding: 2px;
}
.mainTeamHolder{
  width: 100%;
  font-weight: bolder;
  background-color: rgb(12, 98, 190);
  margin: 2px;
  padding: 2px;

}
.charTeamOutput{
  color: red; 
  text-decoration: underline;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  background-color: rgb(213, 213, 213);
  border: black solid 2px;
  width: 90%;
}
.wrapper {
  /*border: black solid 2px;*/
  display: flex;
  width: auto;
  height: auto;
}
.nameCreate {
 /*border: black solid 2px;*/
  height: auto;
}
.teamsHolder {
  display: flex;
  color: white;
  background-color: rgba(78, 171, 253, 0.954);
  height: auto;
  margin: 5px;
  padding: 5px;
  align-content: center;
}
.charImageHolder {
  min-width: 350px;
  width: auto;
  background-color: rgba(0, 80, 145, 0.954);
}
.charImage{
  width: 45px;
  height: 45px;
  border: solid black 2px;
  background-color: rgba(0, 107, 64, 0.954);
}
.teamBox {
  background-color: rgba(163, 212, 255, 0.954);
  margin: 5px;
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.teamBox img {
    width: 60px;
    height: 60px;
    border: double 3px #e7fc36;
}
.teamMember {
  background-color: rgb(255, 255, 255);
  margin: 3px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border: solid 2px black;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
 /*border-radius: 6px;*/
  background-color: rgb(255, 107, 107);
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backDrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.btn {
  width: auto;
  height: auto;
}
.charImage{
  margin: 5px;
}
.wrapper {
  margin: 0 auto;
  display: block;
  width: 570px;
}
  .charImageHolder {
    margin: 0 auto;
    width: 70vw;
  }
  .teamsHolder {
    margin: 0 auto;
    width: 30vw;
  }
.nameCreate {
  flex-direction: column;
  display: flex;
}
.teamBox {
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
}

@media (min-width: 640px) {
  /* *{
    background-color: rgb(255, 106, 0);
  } */
  .wrapper {
    margin: 0 auto;
    width: 100vw;
  }
  .nameCreate {
    display: block;
  }
    .charImageHolder {
    width: 90vw;
  }
  .teamsHolder {
    width: 60vw;
  }
}
@media (min-width: 1024px) {
  /* *{
    background-color: rgb(170, 255, 0);
  } */
  .charImageHolder img {
    margin: 5px;
  }
  .wrapper {
    width: auto;
    display: flex;
  }
  .btn {
    width: 70px;
    height: 35px;
    margin: 5px;
  }
  .nameCreate {
    width: auto;
  }
  .teamBox {
  margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  /* *{
    background-color: rgb(0, 110, 13);
  } */
  .charImageHolder{
    margin: 3px;
  }
  .wrapper {
    width: auto;
    display: flex;
  }
  .btn {
    width: 70px;
    height: 35px;
    margin: 5px;
  }
  .nameCreate {
    width: auto;
  }
  .teamBox {
    margin: 0 auto;
    flex-direction: row;
  }
}
